<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Trainer Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    {% extends 'base.html' %}


    {% block content %}
        <div class="row" style = "margin: 10px; align-items: center;">
        {% for profile in profiles %}
            <div class = "col-sm-2" style = " text-align:center; background-color: yellow; margin:10px; border-style: double; border-color: white; border-radius: 5px;">
                <a href = "preview{{profile.USER_PROFILE_NUMBER}}">Portfolio by : {{profile.USER_NAME}}</a>
            </div>
        {% endfor %}
        </div>
    {% endblock %}
</body>
</html>
